// If you edit this file you need to compile the theme. See README.md for details.

// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../valo/valo.scss";

@mixin mytheme {
  @include valo;


}

.v-app {
    background-image: url(images/fondoVerde.jpg);
    background-size: 100% 100%; 
}

.botonesPrincipal {
    background-color: #197de1;
}

.v-button {
    color: white !important;
    width: 160px !important;
    height: 50px !important;
    background-color: #2B3788 !important;
    background-image: none !important;
    border: 1px solid #000 !important;
}

.v-label-bienvenPrinc {
    color: #2B3788 !important;
    width: 150px !important;
    left: 30% !important;
    position: absolute !important;
    font-size: 60px !important;
}

.v-label-loginLab {
    color: #2B3788 !important;
    width: 150px !important;
    left: 30% !important;
    position: absolute !important;
    font-size: 28px !important;
}

.v-caption-caption1 {
    color: #FFFB00;
}

.v-panel {
    background-image: url(images/fondoVerde.jpg);
    background-size: 100% 100%; 
}

.v-panel-content {
    background-image: url(images/fondoVerde.jpg);
    background-size: 100% 100%; 
}

.v-table-caption-caption1 {
    color: #FFFB00;
}